<div class="tab-content">
  <div class="metadata-list">
    <div class="metadata-item">
      <mat-icon class="meta-icon">fingerprint</mat-icon>
      <div class="meta-content">
        <span class="meta-label">Photo ID</span>
        <span class="meta-value">{{ photo().photo_id }}</span>
      </div>
    </div>

    <mat-divider></mat-divider>

    <div class="metadata-item">
      <mat-icon class="meta-icon">calendar_today</mat-icon>
      <div class="meta-content">
        <span class="meta-label">Created</span>
        <span class="meta-value">{{ photo().created_at | date:'medium' }}</span>
      </div>
    </div>

    @if (photo().id !== null && photo().id !== undefined) {
      <mat-divider></mat-divider>

      <div class="metadata-item">
        <mat-icon class="meta-icon">dns</mat-icon>
        <div class="meta-content">
          <span class="meta-label">Database ID</span>
          <span class="meta-value">{{ photo().id }}</span>
        </div>
      </div>
    }

    <mat-divider></mat-divider>

    <div class="metadata-item">
      <mat-icon class="meta-icon">photo_size_select_actual</mat-icon>
      <div class="meta-content">
        <span class="meta-label">Source</span>
        <span class="meta-value source-value">
          @if (photo().in_database) {
            <span class="source-tag source-db">Database</span>
          }
          @if (photo().in_cloudinary) {
            <span class="source-tag source-cloud">Cloudinary</span>
          }
        </span>
      </div>
    </div>
  </div>
</div>

