<div class="photo-edit-dialog">
  <h2 mat-dialog-title>
    <mat-icon class="dialog-title-icon">edit</mat-icon>
    Edit Photo
  </h2>

  <mat-dialog-content>
    <div class="dialog-layout">
      <!-- Photo preview -->
      <div class="photo-preview">
        <lib-image-loader
          [src]="photo.url"
          [alt]="state.caption() || 'Photo'"
          imgClass="preview-image"
          borderRadius="16px"
        ></lib-image-loader>
      </div>

      <!-- Edit form -->
      <div class="edit-form">
        <mat-tab-group animationDuration="200ms">
          <!-- Details Tab -->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">info</mat-icon>
              Details
            </ng-template>
            <app-details-tab />
          </mat-tab>

          <!-- Entity Tab -->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">link</mat-icon>
              Entity
            </ng-template>
            <app-entity-tab />
          </mat-tab>

          <!-- Location Tab -->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">location_on</mat-icon>
              Location
            </ng-template>
            <app-location-tab />
          </mat-tab>

          <!-- Info Tab -->
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="tab-icon">info_outline</mat-icon>
              Info
            </ng-template>
            <app-info-tab />
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="save()" [disabled]="state.saving()">
      @if (state.saving()) {
        <mat-spinner diameter="20" class="btn-spinner"></mat-spinner>
      } @else {
        <span class="btn-content">
          <mat-icon>save</mat-icon>
          Save Changes
        </span>
      }
    </button>
  </mat-dialog-actions>
</div>
